<footer class="mt-auto"><div class="container-fluid bg-dark">
  <div class="row p-1 ">
    <div class="row">
      <div class="col-8 mx-auto text-white mt-3">
        <p>
          Lorem ipsum dolor sit amet, virtute docendi sensibus cu vis, eius nusquam democritum id pri, veri option sea
          an. Ei decore blandit indoctum duo. Ex liber sonet sensibus ius, at cum voluptua percipit. Ea qui dicunt
          labitur, quod iusto errem eu ius.
      </div>
    </div>

    <div class="col-3 mx-auto">
      <a class="fa fa-2x fa-facebook p-4" size="30" style="color: white" href="#"></a>
      <a class="fa fa-2x fa-twitter p-4" style="color: white" href="#"></a>
      <a class="fa fa-2x fa-instagram p-4" style="color: white" href="#"></a>
      <a class="fa fa-2x fa-youtube p-4" style="color: white" href="#"></a>
    </div>
  </div>
</div>
</footer>
