.navbar-nav .nav-item:not(:last-child) {
  border-right: 1px solid black;
  padding: 0 3em;

}
.navbar-nav .nav-item:last-child > a {
  padding-right: 3em !important;
  padding-left: 3em !important;
}
@media (max-width: 768px) {
  .navbar-nav .nav-item:not(:last-child) {
    border-right: none;
  }
}

